/* Hide on Mobile */
.mobile {
  display: none;
}

/* Navigation */
.nav-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex-direction: row;
}

.nav-link-container {
  width: 247px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex-direction: row;
}
.logo {
  /* display: inline-block; */
}
.logo a {
  font-family: 'GTSuper-Adieu', sans-serif;
  font-size: 3rem;
  font-weight: 200; color:var(--purple);
}
.nav-link {
  padding-top: 28px;
}
.nav-link a {
  font-family: 'GTWalsheim-Bold', sans-serif;
  font-size: 15px;
  color: var(--purple);
  letter-spacing: 0.03em;
}
.nav-link a:hover {
  border-bottom: 2px solid;
}

/* Content Components */
.hero-copy {
  font-family: 'GTWalsheim-Medium', sans-serif;
  color: var(--purple);
  font-size: 19px;
  line-height: 30px;
  text-align: left;
  padding-top: 50px;
}
.cta {
  font-family: 'GTWalsheim-Medium', sans-serif;
  color: var(--purple);
  font-size: 29px;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding-top: 75px;
  padding-bottom: 30px;
}
.flavors-copy {
  font-family: 'GTWalsheim-Medium', sans-serif;
  color: var(--purple);
  font-size: 19px;
  line-height: 30px;
  width: 578px;
}
.desktop-feature-blocks img {
  margin-left: -15px;
}

/* Flavors */
.ingredients-title, .stockist-title {
  position: absolute;
  margin-left: 50px;
}
.stockist-items {
  padding-left: 24px;
}
.ingredients-items {
  padding-left: 52px;
  padding-top: 25px;
}
.organic-msg {
  padding-top: 8px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.ig-container {

}
.copyright {
  font-size: 13px;
  color: var(--purple);
  font-family: 'GTWalsheim-Medium';
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: space-between;

}

/* Footer */
.ig-link {
  height: 44px;
  width: 44px;
  display: block;
  overflow: hidden;
  background-image: url('../images/svg/insta-icons.svg');
}
a:hover.ig-link {
  background-position: 0 89px;
}
a:visited.ig-link {
  background-position: 0 44px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 14px 46px;
  font-size: 19px;
  font-weight: bold;
  background-color: var(--purple);
  text-align: center;
  color: var(--white);
  border: 1px solid transparent;
  letter-spacing: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none !important;
  transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s ease-in-out; /* FF 4 */
  -webkit-transition: all ease-in-out 0.1s ease-in-out; /* Safari & Chrome */
  -o-transition: all ease-in-out 0.1s ease-in-out; /* Opera */
}
.btn:hover {
  color: var(--purple);
  border: 1px solid var(--purple);
  background-color: transparent;
}

.btn:active {
  color: var(--white);
  border: 1px solid var(--purple-highlight);
  background-color: var(--purple-highlight);
}
