/* Expandable List */
.expandable-panel {
  overflow:auto;
}
.expandable-panel-heading {
  width:100%;
  cursor:pointer;
  min-height:50px;
  clear:both;
  background-color: white;
  position:relative;
}
.expandable-panel-content {
  margin-top:-999px;
}
.icon-close-open {
  width:24px;
  height:24px;
  background-image:url('../images/svg/expand.svg');
}
ul {
  margin: 0;
}
