/* iPHONE */
@media only screen and (max-width: 60em) { /* 960px */
  /* Hide elements designated for desktop view only */
  .desktop {
    display: none;
  }

  /* Navigation */
  .logo a {
    font-size: 39px !important;
  }
  .nav-link {
    padding-top: 16px !important;
  }

  /* HOME PAGE */
  .hero-img-container {
    padding-left: 0px !important;
    left: 0;
  }
  .hero-copy {
    width: 325px !important;
  }
  .hero-copy h4 {
    font-size: 16px !important;
  }
  #hero-image {
    width: 325px !important;
  }
  #snack-animation {
    display: none !important;
    width: 137px !important;
    margin-left: -150px !important;
    margin-top: -115px !important;
    margin-bottom: 0px !important;
  }
  #features-eclipse {
    display: none;
  }

  /* ABOUT PAGE */
  .about-copy {
    width: 325px !important;
    padding-top: 30px !important;
  }

  /* FLAVORS PAGE */
  .desktop-feature-blocks {
    display: none;
  }
  .mobile-feature-blocks {
    display: block;
  }
  .product-img img {
    width: 346px;
  }
}

/* iPAD */
@media screen and (max-width: 768px) {

  /* Hide elements designated for desktop view only */
  .desktop {
    display: none;
  }

  .nav-pane {
    width: 80vw;
    transform: translateX(-80vw);
  }
}


/* DESKTOP */
@media only screen and (min-width: 60em) { /* 960px */
  /* Hide Mobile Nav */
  .toggle-nav {
    display: none;
  }
}
